nav{
background-color: rgb(76, 76, 76);
color: white;
padding: 1rem;
font-family: system-ui;

position: absolute;
bottom: 1rem;
left: 1rem;
}

@keyframes agrandisement{
		0% {transform: scaleX(1);}
		50% {transform: scaleX(1.5);}
		100% {transform: scale(1)}
	}

nav a{
	color: white;
}

nav a:hover{
	animation: agrandisement 1s ;
}
